body {
    background: linear-gradient(0deg, rgb(98, 132, 169) 0%, rgb(40, 68, 102) 27%, rgb(84, 106, 107) 60%, rgba(24, 61, 100, 0.941) 100%);
    font-family: Arial, sans-serif;
    color: aliceblue;
    text-align: center;
    margin: 0;
    padding: 0;
}

.banner {
    background: #0a3d62;
    color: white;
    padding: 15px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.2rem;
}

table {
    width: 100%;
    margin-top: 20px;
    border-spacing: 15px;
}

td {
    vertical-align: top;
    text-align: left;
}

.image-cell {
    text-align: center;
}

.image {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.download-btn {
    background: #be88ff;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.download-btn:hover {
    background: #cde0ff;
}
